div{
    margin: 2px;
    padding: 60px;
    border: 2px solid black;
    width: 200px;
    height: 100px;
    text-align: center;
    
}

.texto{
    color:black;
    background-color: blue;
    font-size: 50px;
    text-align: center;
}

.texto2{
    color:black;
    background-color: red;
    font-size: 50px;
    text-align: center;

}

